/********************************выбор категорий********************************************/
.menuCatalog
{
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom:20px;
}
.menuCatalog li
{
    background-color: #696969;    
}
.menuCatalog li>a
{
    color:white;  
    text-decoration: none;
}

/****************************класс дающий прокрутку в меню**********************************************/
.menuScroll
{   
    height: 450px;
    overflow-y: scroll;
}
.menuScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menuScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*****************************************ксс для продуктов в меню**************************/
.menuProduct
{
    display: flex;
    justify-content:space-around;
    margin: 0px;
    padding: 0px;
    height: 150px;
}
.menuRight > p:nth-child(1)
{
    font-family: "Arial Black"; 
}
.menuRight > p:nth-child(2)
{
    height: 72px;
}
.menuRight
{
    height: 150px;
    width: 400px;
}
.menuRight p
{
    margin-bottom: 0px; 
}
.menuLeft
{
    margin-right:-10px; 
    height: 130px;
    width: 130px;
}
.menuLeft img
{
    border:1px solid black;
    border-radius:20px;
    width: 100%;
    height: 100%;
}
.add-to-cart
{
    height: 25px;
    width: 25px;
}
.delete-to-cart
{
    height: 25px;
    width: 25px;
}

/************************************************кнопка заказать**********************************************/
.menuOrder
{
    justify-content:center;
    align-items: center;
    height: 50px;
    margin-left: 150px;
}
/**************************************************модальное окно**********************************************/
.form_radio_group {
    display: inline-block;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;
    float: left;    
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
}
.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}
.form_radio_group input[type=radio]:checked + label {
    background: #ffe0a6;
}
.form_radio_group label:hover {
    color: #666;
}
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}



/*******************************************************************************************************************************/




/************************************************надпись ВАША КОРИЗИНА***********************************************/
.basketLegend 
{
    justify-content: center;
    align-items: center;
    height: 89px;
}
.basketLegend button
{
    margin-bottom:1px;
    margin-left:10px;
}
.basketLegend img
{
    height: 20px;
    width: 20px;
}
.basketLegend p
{
    font-family: "Monotype Corsiva" Cursive;
    font-size: 35px;
}

/*************************менюшка корзины с товарами вместе с css для продуктов в ней*****************************************/
.basketCart
{
    height: 402px;
    display: block;
}
.basketProduct
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 100%;
    
}
.basketLeft
{
    margin-right:0px; 
    height: 70px;
    width: 70px;
}
.basketLeft img
{
    border:1px solid black;
    border-radius:10px;
    width: 100%;
    height: 100%;
}
.basketRight
{
    height: 70px;
    width: 285px;
}
.basketRight p
{
    margin-bottom: 7px; 
}
.basketRight img
{
    height: 20px;
    width: 20px;
}
/* *************************************ксс для scroll в basket******************* */
.mini-cart {
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mini-cart::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mini-cart {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**************************класс для надпиши ВАС СЧЕТ к оплате*************************/
.basketBill
{

}


