html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0px 10px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

body{
    background-color: #b2b0b2 ;
    margin: 0;
    color: black;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: #333;
    border: 1px solid black;
}

.header_inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_list{
    display: flex;
    justify-content: space-around;
}

.menu_item{
    margin: 0 25px;
}

.menu_list-link{
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu_list-link:hover{
    border-bottom: 1px solid white;
}

.tel{
    color: white;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}
.tel:hover{
    border-bottom: 1px solid white;
}

.tell{
    color: white;
    transition: all .5s;
    border-bottom: 1px solid transparent;
    right: 10px;
}
.tell:hover{
    border-bottom: 1px solid white;
}

.logo_logo{
    width: 100px;
    height: 50px;
    margin: 5px 0;
}



.top{

    height: auto;
    background-image: url('../images/restourant_back.png');
    background-size: cover;
}


.background_text{
    color: #fff;
    font-size: 45px;
    margin-top: -10px;
    text-align: center;
}

.background_img{
    width: 450px;
    height: 450px;
    transition: all .5s;
}

.background_img:hover{
    transform: scale(0.95);
}

.top_background{
    margin: 0px;
}

.top_inner{
    display: flex;
    justify-content: center;;
}
.background_text_content{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    padding: 15px;
}

 .personal_maket{
    display: flex;
    background-color: #b2b0b2 ;
}

.person_image{
    width: 150px;
    height: 150px; 
}

.person_title{
    height: 150px;
    background-color: #fff;
}

.double_top{
    display: flex;
}


.double_top_left{
    text-align: center;
    color: black;
    padding-top: 90px;
    width: 50%;
}

.left_title{
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
    max-width: 455px;
    margin: 0 auto 20px;
}

.left_text{
    line-height: 28px;
    font-size: 28px;
    margin-bottom: 60px;
    max-width: 470px;
    margin: 0 auto 60px;
}

.reservation{
    text-transform: uppercase;
    color: #fff;
    background: #333;
    padding: 16px 19px 15px;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
}

.reservation:hover{
    background: #fff;
    color: #333;
    border: 1px solid #333
}

.double_top_right{
    width: 50%;
    padding-top: 90px;
}

.slick-dots{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.slick-dots{
    list-style: none;
    font-size: 0px;
}

.slick-dots button{
    font-size: 0px;
    width: 8px;
    height: 8px;
    background-color: #333 ;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
}
.right_slider{
    width: 444px;
    height: 444px;
}
.slick-active button{
    width: 16px;
    height: 16px;
}

.slider_item{
    text-align: center;
}



.slider_text{
    padding-top: 25px;
}

.slider_text span + span {
    padding-left: 25px;
}

.double_under{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.under_items{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.under_item{
    border: 1px solid #b2b0b2 ;
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s;
}

.under_item:hover{
    transform: scale(1.25);
}

.item_icon{
    width: 45px;
    height: 45px;
    margin: 10px auto;
}

.to_order_link{
    color: black;
    border-bottom: 1px solid black;
/*     transition: all .5s; */
}

/* .to_order_link:hover{
    border-bottom: 1px solid black;
} */

.under_to_order{
    padding-right: 80px;
}

.to_order_link + .to_order_link{
    margin-left: 70px;
}


.personal{
    padding: 100px 0;

}

.blocks{
    display: flex;
    justify-content: space-around;
}


.block_info{
    width: 300px;

}

.block_info_title{
    font-style: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.block_info_text{
    margin-bottom: 20px;
}

.block_info_text + .block_info_text{
    margin-bottom: 40px;
}

.block_person{
    border: 1px solid black;
    width: 250px;
    height: 300px;
    padding: 0 35px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all .5s;
}

.block_person:hover{
    transform: scale(1.11);
}

.person_name{
    font-weight: 500;
    font-style: 18px;
    line-height: 22px;
    margin: auto;   
}

.person_photo{
    width: 150px;
    height: 150px;
    margin: auto auto 2px auto;
}


  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .v-container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    left:0;
    width:100%;
    z-index:1;
    background:#b2b0b2 ;
    opacity:0.45;
  }
  
  .header-content{
    z-index:2;
  }
  
  .header-content h1{
    font-size:50px;
    margin-bottom: 30px;
  }
  
  .header-content p{
    font-size:1.5rem; 
    display:block;
    padding-bottom:2rem;
  }
  
  .btn{
    background: #333;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid white;
    transition: all .5s;
    text-align: center;
  }
  
  .btn:hover{
    background: #fff;
    color:#333;
    border: 1px solid #333
}
  
  
  .section-b{
    padding:20px 0;
    background:#333;
    color:#fff;
  }
  
  @media(max-width:960px){
    .v-container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }


  .form_01{
        background-color: rgb(135, 135, 135);
        padding: 50px 75px 57px;
        text-align: center;
        border-radius: 15px;
  }

  .form_title{
   
    text-align: center;  
  }
  .form_input{
      background-color: transparent;
      width: 450px;
      height: 75px;
      color: #fff;
      border: 1px solid #fff;
      margin-bottom: 12px;
      display: block;
      margin: 15px auto;
      width: 100%;

  }

  .form_input::placeholder{
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300px;
      color: #b2b0b2 ;
      font-family: 'Roboto Condensed', sans-serif;
  }

  .info_inner{
      display: flex;
  }

  .banquet_form > h2 {
    text-align: center;
    margin: 0 15px;
  }

  .banquet_about{
      text-align: left;
      margin: 0px 15px;
      padding: 6px 0;
  }

  .banquet_form > h2{
      margin-bottom: 20px;
      background-color: #b2b0b2 ;
      border-radius: 15px;
      padding: 5px 0;
  }

  .banquet_form{
      width: 50%;
  }
  .banquet_form_block{
      width: 50%;
  }

  .text_block{
    background-color: #b2b0b2 ;
    border-radius: 15px;
    padding: 15px 0;
    margin: 0 15px;
  }

  input[type="text"]
  {
      font-size:24px;
      text-align: center;
  }


  .footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 21px;
    
  }

  .footer{
      border-top: 5px dashed #b2b0b2 ;
      padding: 10px 0 24px;
      background: #333;
  }

  .social{
      list-style: none;

  }

  .social_link{
      margin: 0 15px;
  }

  .social_img{
      width: 30px;
      height: 30px;
      transition: all .5s;
  }

  .social_img:hover{
    transform: scale(1.25);
  }


  .footer_2{
      background: #333;
      color: white;
  }

  .footer_inner{
      display: flex;
      justify-content: space-around;
  }

  .footer_title{
      font-size: 16px;
      color: white;
      margin-bottom: 30px;

  }



  .tem{
      padding-bottom: 15px;;
  }


  .menu_btn{
      display: none;
  }


  @media(max-width: 1140px){
      .blocks{
          flex-wrap: wrap;
      }

      .block_person{
          margin-bottom: 20px;
      }
      .block_person:hover{
          transform: scale(1.05);
      }

      .block_info{
          width: 100%;
          text-align: center;
      }

      .under_to_order{
          padding-right: 0;
      }
      .banquet_form{
          width: 100%;
      }
      .form_01{
        padding: 42px 10px;
    }
}

@media (max-width: 910px) {
    .double_top{
        display: block;
    }

    .double_top_left{
        width: 100%;
        padding-top: 30px;
    }

    .double_top_right{
        width: 100%;
    }

    .double_under{
        display: block;
    }

    .under_to_order{
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }

    .under_items{
        width: 100%;
        padding-top: 50px;
    }

    .background_text{
        font-size: 30px;
    }
  
    .slider_text{
      padding-top: 25px;
      align-items: center;
      align-content: center;
      justify-content: center;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
    }

    .slick-initialized .slick-slide {
      display: flex;
  }

  .form_01{
    padding: 72px 6px;
}

    .text_block{
        font-size: 14px;
    }

}

  @media (max-width: 860px){
    .menu{
        order: 1;
    }  
    .menu_list{
          display: block;
          position: absolute;
          top: 65px;
          left: 0;
          background-color: #333;
          right: 0;
          text-align: center;
          padding: 20px 0;
          transform: translateY(-500px);
          transition: all .5s;
      }

      .menu_list.menu_list--active{
          transform: translateY(0);
      }

      .menu_list-link{
          padding: 20px 0;
          display: block;
      }
      /* .tel{
          margin-right: 200px;
      }
      .logo_logo{
          margin-right: 140px;
      } */
      .menu_btn{
          display: block;
          cursor: pointer;
          top: 20px;
          width: 35px;
          height: 24px;
          border: none;
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          background-color: transparent;
          position: absolute;
      }

      .menu_btn::before{
          content: '';
          position: absolute;
          width: 35px;
          height: 2px;
          background-color: #fff;
          left:0;
          top: 9px;
          
      }
      .tel{
          margin-right: 75px;
      }

      .info_inner {
          display: block;
      }

      .banquet_form_block{
          width: 100%;
      }

      .text_block{
          margin: 15px 0;
      }

      .form_01{
          padding: 25px 75px ;
      }
      
  }

  @media(max-width: 630px){
    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-slide img {
        display: block;
        width: inherit;
        height: inherit;
    }

    .header-content h1{
        font-size: 25px;
        margin-bottom: 25px;
    }

    .header-content p{
        font-size: 18px;
    }

    .btn{
        padding: 10px;
    }

    .header-overlay{
        height: 60vh;
    }
    .personal{
        padding: 30px 0;
    }

    .fullscreen-video-wrap video{
        height: 100vh;
        width: 100vh;    
    }

    .video_video{
        display: flex;
        height: 200px;
    }

    .v-header{
        height: 55vh;
    }

    .form_01{
        padding: 25px 50px;
    }
    
  }

  @media(max-width: 525px){

    .menu_btn{
        right: 15px;
    }
    .under_item{
      width: 100%;
      height: 100%;
      margin: 20px;
    }

    .under_item:hover{
      transform: scale(1.050);
    }
    
    .under_items{
      flex-wrap: wrap;
    }

    .to_order_link{
        display: inline-block;
        text-align: center;
        margin: 10px 15px;
    }

    .to_order_link + .to_order_link{
        margin-left: 0px;
    }

    .under_to_order{
        text-align: center;
    }
    
    .background_text{
        font-size: 15px;
    }
  
  .background_img{
      width: 350px;
      height: 350px;
  }

  .left_title{
  font-size: 29px;
  line-height: 28px;
  }
   /*  .slider_text{
        text-align: right;
    }
    .slider_text span{
        display: block;
    } */

    .v-header{
        height: 55vh;
    }
/* 
    .right_slider {
        width: 350px;
        height: 350px;
    } */

    .form_01{
        padding: 20px 25px;
    }
    
}

@media(max-width: 350px){

    .background_img{
        width: 270px;
        height: 270px;
    }

    

    .block_person {
        border: 1px solid black;
        width: 200px;
        height: 230px;
        padding: 0px;
        text-align: center;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        display: flex;
        flex-direction: column;
    }
    
    .person_photo{
        width: 140px;
        height: 140px;
    }

    .personal{
        padding: 30px 0px;
    }

    .form_01{
        padding: 20px 20px;
    }

    input[type="text"]
  {
      font-size:5px;
      text-align: center;
  }

  .tem {
      font-size: 10px;

      
  }

  .social_img{
      width: 22px;
      height: 22px;
      
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
 .footer_col_1{
     width: 35%;
 }

 .footer_col_2{
    width: 35%;
}

.footer_col_3{
    width: 30%;
    text-align: center;
}

 .footer_title{
     font-size: 12px;
     margin-bottom: 15px;
    
 }

}

@media (max-width:290px){
    .background_img{
        width: 220px;
        height: 220px;
        margin: 0 auto;
    }
}


  
