

/*SELECTION*/

ul.selecton{ text-align: center;  font-size: 1.2em;  
    list-style: none;

}

ul.selecton li > a{ padding: 15px 30px;   }

ul.selecton li:hover a,
ul.selecton li a.active{ border-radius: 3px 3px 0 0; background: #EF0031; color: #FFFFFF;  }

.food-menu{ display: none;  }
.food-menu.active{ opacity: 0; display: block!important; animation: full-opacity-anim .3s forwards ; }

@keyframes full-opacity-anim{
        100%{ opacity: 1; }
}

/*main*/
/*SIDED 90x*/

.sided-90x { position: relative; }

.sided-90x .s-left { position: absolute; top: 0; left: 0; height: 90px; width: 90px; }

.sided-90x .s-left.rounded img { border-radius: 90px; overflow: hidden; }

.sided-90x .s-right { margin-left: 115px; min-height: 90px; }

.list-li-mb-30 > li {
        margin-bottom: 30px;
}
.mb-30 {
        margin-bottom: 30px !important;
}
.btn-primaryc { position: relative; text-align: center; height: 55px; line-height: 50px; background: #EF0031; color: #fff; border-radius: 3px; z-index: 1; }
.center-text { text-align: center!important; }
.plr-25 {
        padding-left: 25px !important;
        padding-right: 25px !important;
}
h6 {  font-size: .95em; letter-spacing: 1px; }
.br-3{ border-radius: 3px;  
}
 .img-bg {
  863          position: absolute;
  864          top: 0;
}
img { width: 100%;}

img.cart
{
    width:30px ;
    height:30px;
}

/*footer css*/
  h3.title {
        text-align: center;
        font-size: 36px;
        color: #0cbbc8;
        margin-bottom: 55px;
    }
    .contact-form {
    padding:100px 0;
    background: #252222;
    }
    .contact-form h3 span{
    color:#fff;
    }
    .contact-left p {
    font-size: 15px;
    color:#fff;
    line-height: 2.2em;
    }
    .contact-list {
    margin: 2.2em 0;
    padding: 0;
    }
    .contact-list li {
    display: block;
    margin: 0 0 1em 1em;
    font-size: 15px;
    color: #fff;
    }
    .contact-list li a{
    text-decoration: none;
    color: #fff;
    transition:.5s all;
    }
    .contact-list li a:hover{
    color:#0cbbc8;
    }
    .contact-list li span{
    color:#D4AF37;
    left: -1em;
    }
    .contact-right form {
    text-align: right;
    }
    .contact-form-left p {
    font-size: 15px;
    color: #fff;
    line-height: 1.5em;
    }
    .contact-right input[type="text"],.contact-right input[type="email"] {
    border: 1px solid #fff;
    width: 100%;
    margin: 0 0 1.9em 0;
    outline: none;
    font-size: 13px;
    color: #5b5b5b;
    padding: 10px 12px;
    -webkit-appearance: none;
    background:none;
    }
    .contact-right textarea {
    border: 1px solid #fff;
    outline: none;
    font-size: 13px;
    color: #5b5b5b;
    padding: 10px 12px;
    width: 100%;
    resize: none;
    height: 180px;
    -webkit-appearance: none;
    background:none;
    }
    .contact-right input[type="submit"] {
    border:none;
    padding: 9px 0;
    width: 22%;
    margin-top: 0.8em;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background:#D4AF37;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
    }
    .contact-right input[type="submit"]:hover{
    background:#0cbbc8; 
    }
    p.copy-right{
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
    }
    p.copy-right a{
    color: #fff;
    text-decoration:none;
    transition: .5s;
    }
    p.copy-right a:hover{
    color:#D4AF37;
    }
    .icons-list li{
    list-style-type:none;
    margin:0 5px;
    display:inline-block;
    position:relative;
    }
    /* pop-up text */
    .footer-bottom a span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0px;
    text-align: center;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
    background: #D4AF37;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .footer-bottom a.use1 span {
    left: -9px;
    }
    .footer-bottom a.use3 span {
    left: -7px;
    }
    .footer-bottom a.use4 span {
    left: -8px;
    }
    /* pop-up text arrow */
    .footer-bottom a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #D4AF37;
    position: absolute;
    bottom: -4px;
    left: 27px;
    }
    .footer-bottom a.use2 span:before {
    left: 17px; 
    }
    .footer-bottom a.use3 span:before {
    left: 23px; 
    }
    .footer-bottom a.use4 span:before {
    left: 22px; 
    }
    .footer-bottom a:hover span {
    bottom: 48px;
    visibility: visible;
    opacity: 1;
    }
    .contact-left h2 {
    color: #D4AF37;
    margin-bottom: 16px;
    font-size: 24px;
    margin-top: 0;
    }
    .footer-bottom li a i{
        color: #fff;
        font-size: 20px;
    }
    .footer-bottom li a.use1{
        background: #3a5897;
    }
    .footer-bottom li a.use2{
        background: #54abed;
    }
    .footer-bottom li a.use3{
        background: #ee82ac;
    }
    .footer-bottom li a.use4{
        background: #bc081c;
    }
    .footer-bottom li a{
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom li a:hover{
        text-decoration: none;
    }
