

body {
    margin: 0;
}

div.side {
	height: 1000px;
	background-color: rgb(200, 190, 100);
}

.head {
	background-color: rgb(245, 235, 195);
}

.logo {
	margin-right: 30px;
}

nav.sidebar a {
	margin-left: 20px;
	padding-top: 10px;
	text-decoration: none;
	color: rgb(240, 234, 223);
}

section.block1 {
	border: 2px solid grey;
	border-radius: 5px;
	background-color: white;
}

section.block2 {
	border: 2px solid grey;
	border-radius: 5px;
	background-color: white;
}

.footer {
	background-color: rgb(178, 234, 223);
}